html
    head
        include _header.pug
        link(rel="stylesheet" href="./css/main.css")
        link(rel="stylesheet" href="./css/normalize.css")
        link(link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet")



    body
        iframe.bg(src="works/camerawork.html")

        .contents.dotted
            .contents_inner
                header
                    h1  MURASAKI WORKS
                    p I am a designer, programmer, and artist.
                    nav
                        ul
                            li
                                a(href="https://twitter.com/murasaki_0606") twitter
                            li
                                a(href="https://www.facebook.com/murasaki.uma") facebook

                            li
                                a(href="https://github.com/murasaki-uma") github

                            li
                                a(href="https://www.instagram.com/murasaki9266/") instagram


                            li
                                a(href="https://giphy.com/channel/murasaki/") giphy

                    p.plese please mouse over ↓↓↓↓



                main
                    article
                        .inner
                            h2 HINKA RINKA 4F Installation art
                            ul
                                li #programming
                            .images
                                img(src="img/hinkarinka.jpg")
                                a(href="http://www.dhw.co.jp/pr/release/detail.php?id=917") project information

                    article
                        .inner
                            h2 Face V(D)J
                            ul
                                li #programming
                                li #dj
                                li #vj
                            .images
                                img(src="img/gohan01.jpg")
                                .movie.
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/qqGHZ_cIEW8" frameborder="0" allowfullscreen></iframe>


                    article
                        .inner
                            h2 parameterize
                            ul
                                li #programming
                                li #vj
                            .images
                                img(src="img/parameterize.png")

                    article
                        .inner
                            h2 ごはんとアート gohan-to-art
                            ul
                                li #planning
                            .images
                                img(src="img/gohan00.jpg")
                                a(href="http://fabcafe.com/tokyo/blog/gohantoartreport?lang=ja") event report


                    article
                        .inner
                            h2 geometry clock
                            ul
                                li #programming
                                li #design
                                li #signage
                                li #webgl
                            .images
                                img(src="img/geomeryclock.gif")
                                a(href="./works/geomeryclock.html" target="blank") play



                    article
                        .inner
                            h2 play with kingyo
                            ul
                                li #programming
                                li #design
                            .images.
                                <iframe src="https://player.vimeo.com/video/121658027" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                                <iframe src="https://player.vimeo.com/video/121769984" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>





